<div id="videos-div">

	<div class="row">
		<h2>
			<i class="icon fa fa-youtube-play"></i> <span ng-bind="heading"></span>
		</h2>
	</div>

	<div class="row divPadTop20">
		<div class="col-md-4">
			<h3>Gorillaz</h3>
			<p>Clint Eastwood</p>
			<p>
				<iframe title="Gorillaz - Clint Eastwood"
						class="videos"
						type="text/html"
						src="http://www.youtube.com/embed/UclCCFNG9q4"
						frameborder="0"
						allowfullscreen></iframe>
			</p>
			<p><a class="btn btn-danger" href="#"><i class="icon fa fa-youtube-play"></i></a></p>
		</div>
		<div class="col-md-4">
			<h3>DJ Hermoso</h3>
			<p>Reggaeton Mix 2015</p>
			<p>
				<iframe title="DJ Hermoso - Reggaeton Mix 2015"
						class="videos"
						type="text/html"
						src="http://www.youtube.com/embed/5aRShRa-R_o"
						frameborder="0"
						allowfullscreen></iframe>
			</p>
			<p><a class="btn btn-danger" href="#"><i class="icon fa fa-youtube-play"></i></a></p>
		</div>
		<div class="col-md-4">
			<h3>Avicii</h3>
			<p>2015 Mix</p>
			<p>
				<iframe title="Avicii - 2015 Mix"
						class="videos"
						type="text/html"
						src="http://www.youtube.com/embed/cnj7QG7z-Ro"
						frameborder="0"
						allowfullscreen></iframe>
			</p>
			<p><a class="btn btn-danger" href="#"><i class="icon fa fa-youtube-play"></i></a></p>
		</div>
	</div>

</div>